<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>自動控制</title>
</head>
<body>
    <h1>自動控制</h1>
    <a href="/adjust">調整</a>
    <div>
        及時ph:
     
    </div>
    <div>
        及時ec:
     
    </div>
    <div>
        ph圖表....(連結SQL)
    </div>
    <div>
        ec圖表....(連結SQL)
    </div>
    <div>
        水溫圖表....(連結SQL)
    </div>
    <div>
        即時影像
    </div>
</body>
</html>