<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>主頁</h1>
    <div>
        <!-- <a href="/login">登入</a>     超連結到/add -->
    </div>
    <div>
        <!-- <a href="/admin">學生資訊(登入後)</a>     超連結到/admin   -->
    </div>
    <div>
        <a href="/dashboard">自動控制</a>     <!--超連結到/admin-->  
    </div>
</body>
</html>